.click-button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*input has OS specific font-family*/
  z-index: -1;
  margin-top: -10px!important;
  cursor: pointer;
}

.prom-btn{
  width:180px;
  display: block;
  height: auto;
  padding:15px;
  color:#fff;
  background:#8BC3A3;
  border:none;
  border-radius:3px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.prom-btn:hover{
  background:#111;
  color: white;
  border:none;
}

.prom-btn:active{
  opacity: 0.9;
}

.dem-btn{
  width:180px;
  display: block;
  height: auto;
  padding:15px;
  color:#fff;
  background:#C38BA3;
  border:none;
  border-radius:3px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.dem-btn:hover{
  background:#111;
  color: white;
  border:none;
}

.dem-btn:active{
  opacity: 0.9;
}
